# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
    1. List popular languages for Data Science
    2. Use of IDE
    3. Power of different data scrience tools
    4. Code development

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

# Some of the commonly used libraries used by Data Scientists include:
    1.Pandas
    2.Numpy
    3.Scikit-Learn
    4.Seaborn
    5.plotly


| Data Science Tools 
|:-----------------:|
|  Jupyter Notebook | 
|  RStudio   | 
|  Apache Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
A=(3*4)+5
print(A)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
Min=200/60
print(Min)

3.3333333333333335

## Author
Arshad Rashid